@charset "UTF-8";
 .slider-container {
      width: 100%;
      height: 65%;
      overflow: hidden;
      position: relative;
    }

    .slider {
      display: flex;
      transition: transform 1s ease-in-out;
    }

    .slide {
      min-width: 100%;
    }

    .blink {
      animation: blinker 1.5s linear infinite;
      color: red;
      font-family: sans-serif;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }